<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950268248783-3l8vkuk5vmhqj1kn3ret322bqrfi6heg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950268248783-3l8vkuk5vmhqj1kn3ret322bqrfi6heg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>950268248783-r50torlabr2nou5cvfcod0beqm4clhqi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9qNNl9xmbYzHSnp--HEIhDxJUYw_Qy3o</string>
	<key>GCM_SENDER_ID</key>
	<string>950268248783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edenlife.eden</string>
	<key>PROJECT_ID</key>
	<string>eden-6d8cb</string>
	<key>STORAGE_BUCKET</key>
	<string>eden-6d8cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950268248783:ios:7fd89d7c605b040ff2edba</string>
</dict>
</plist>